<main role="main">
  <p
    class="Flash Flash--success u-hideIfEmpty mx-2 cursor-pointer"
    role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p
    class="Flash Flash--error u-hideIfEmpty mx-2 cursor-pointer"
    role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>
