/* This file is for your main application css. */

@tailwind base;

html {
  font-size: 125%;
}

@tailwind components;
@tailwind utilities;

.max-w-screen-2xl {
  max-width: 1680px;
}

.text-2xs {
  font-size: 0.65rem;
}

.w-36 {
  width: 9rem;
}

@import "utilities.css";

@import "components/AccentSectionA.css";
@import "components/AccentSectionB.css";
@import "components/Button.css";
@import "components/Flash.css";
@import "components/Footer.css";
@import "components/Header.css";
@import "components/ProgressBar.css";

@import "vendor/nprogress.css";
@import "vendor/phoenix.css";
